<script src="/js/index.js" defer></script>
<script src="/js/toggleButton.js" defer></script>

<input type="checkbox" id="nav-toggle">

<div class="sidebar light-mode">
    <div class="sidebar-brand">
        <h2>
            <a href="/home">
                <span class="las la-rocket"></span>
                <span>SPACELAXY</span>
            </a>
        </h2>
    </div>

    <div class="sidebar-menu">
        <ul>
            <li class="btn active light-mode">
                <a>
                    <span class="las la-home"></span>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="btn light-mode">
                <a>
                    <span class="lar la-edit"></span>
                    <span>Edit profile</span>
                </a>
            </li>

            <li class="btn light-mode">
                <form action="/user/logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit">
                        <a>
                            <span class="las la-sign-out-alt"></span>
                            <span>Log out</span>
                        </a>
                    </button>
                </form>
            </li>
        </ul>
    </div>

    <div class="toggle-div">
        <input type="checkbox" name="toggle-btn" id="toggle-btn">
    </div>
</div>

<div class="main-content">
    <header class="light-mode">
        <h2>
            <label for="nav-toggle"><span class="las la-bars"></span></label>
            Tasks
        </h2>

        <div class="user-wrapper">
            <img src="/img/perfil-padrao.png" alt="profile" class="profile-img">
            <div>
                <h4><%= user.name %></h4>
                <small><%= user.email %></small>
            </div>
        </div>
    </header>

    <main class="light-mode">
        <div class="dashboard-cards">
            <div class="card-single light-mode">
                <div class="card-type">
                    <h5>To Do</h5>
                </div>

                <% tasks.forEach(task => { %>
                <%      if (task.status == 'ToDo') { %>
                    <div class="card-task edit-task">
                        <input type="hidden" name="taskId" value="<%=task.id%>" class="task-id">
                        <span class="task-title"><%= task.title %></span>
                        <span class="task-description"><%= task.description %></span>
                        <span class="task-status"><%= task.status %></span>
                        <span class="las la-pencil-alt"></span>
                    </div>
                <%      } %>
                <%  }) %>

                <div class="add-task">
                    <button>
                        <span class="las la-plus"></span>
                        <span>Add a task</span>
                    </button>
                </div>
            </div>

            <div class="card-single light-mode">
                <div class="card-type">
                    <h5>Doing</h5>
                </div>

                <% tasks.forEach(task => { %>
                <%      if (task.status == 'Doing') { %>
                    <div class="card-task edit-task">
                        <input type="hidden" name="taskId" value="<%=task.id%>" class="task-id">
                        <span class="task-title"><%= task.title %></span>
                        <span class="task-description"><%= task.description %></span>
                        <span class="task-status"><%= task.status %></span>
                        <span class="las la-pencil-alt"></span>
                    </div>
                <%      } %>
                <%  }) %>

                <div class="add-task">
                    <button>
                        <span class="las la-plus"></span>
                        <span>Add a task</span>
                    </button>
                </div>
            </div>

            <div class="card-single light-mode">
                <div class="card-type">
                    <h5>Done</h5>
                </div>

                <% tasks.forEach(task => { %>
                <%      if (task.status == 'Done') { %>
                    <div class="card-task edit-task">
                        <input type="hidden" name="taskId" value="<%=task.id%>" class="task-id">
                        <span class="task-title"><%= task.title %></span>
                        <span class="task-description"><%= task.description %></span>
                        <span class="task-status"><%= task.status %></span>
                        <span class="las la-pencil-alt"></span>
                    </div>
                <%      } %>
                <%  }) %>

                <div class="add-task">
                    <button>
                        <span class="las la-plus"></span>
                        <span>Add a task</span>
                    </button>
                </div>
            </div>    
            
        </div>
    </main>
</div>


<div class="blur" id="modal01">
    <div class="boxModal light-mode">
        <span class="close"><i class="las la-times"></i></span>
        <div class="content-att">
            <div class="title">
                <h3>Edit task</h3>
            </div>

            <form action="/task/edit" method="post" name="editForm" id="editForm">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                <input type="hidden" name="task-id" id="task-id" value="">
                <label for="title">
                    Title
                    <input type="text" name="title" id="title">
                </label>

                <label for="description">
                    Description
                    <textarea name="description" id="description" cols="80" rows="5"></textarea>
                </label>

                <label for="status">
                    Status
                    <select name="status" id="status">
                        <option value="1">To Do</option>
                        <option value="2">Doing</option>
                        <option value="3">Done</option>
                    </select>
                </label>

                <div class="form-buttons">
                    <button type="submit">Save</button>
                    <button type="submit" id="delete-btn" formaction="/task/delete"><i class="las la-trash-alt"></i></button>
                </div>
                
            </form>
        </div>
    </div>
</div>

<div class="blur" id="modal02">
  <div class="boxModal light-mode">
      <span class="close"><i class="las la-times"></i></span>
      <div class="content-att">
          <div class="title">
              <h3>Create task</h3>
          </div>

          <form action="/task/add" method="post">
              <input type="hidden" name="_csrf" value="<%=csrfToken%>">
              <label for="title">
                  Title
                  <input type="text" name="title" id="title">
              </label>

              <label for="description">
                  Description
                  <textarea name="description" id="description" cols="80" rows="10"></textarea>
              </label>
              
              <input type="hidden" name="status" id="status" value="">

              <button type="submit">Save</button>
          </form>
      </div>
  </div>
</div>